.filter-controls li {
    cursor: pointer;
    transition: .1s ease;
  }
  
  .filter-controls li.active {
    font-weight: 600;
    color: #ffbc3b;
  }
  
  .filter-controls li:hover {
    color: #ffbc3b;
  }