/* overlay */
.overlay {
    position: relative;
    }

.overlay::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #1a1a37;
    opacity: .8;
    }