
/* success story */
.success-video {
    min-height: 300px;
  }
  
  .success-video .play-btn {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  @media (max-width: 767px) {
    .success-video .play-btn {
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }
  }
  
  .play-btn {
    display: inline-block;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: #ffbc3b;
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
  
  .play-btn i {
    line-height: 80px;
  }
  
  .play-btn::before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: -2;
    transition: .3s ease;
    transition-delay: .2s;
  }
  
  .play-btn::after {
    position: absolute;
    content: "";
    height: 80%;
    width: 80%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #ffbc3b;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: .3s ease;
  }
  
  .play-btn:hover::before {
    height: 80%;
    width: 80%;
    transition-delay: 0s;
  }
  
  .play-btn:hover::after {
    height: 0;
    width: 0;
    transition: 0s ease;
  }
  
  /* /success story */